@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
#root{
    font-family: 'Roboto', sans-serif !important;
}

.imgss{
    position: relative;
    width:70%;
    height: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    z-index: 500;
}
.vh-50{
    height: 50vh !important;
}
.blackFill{
    fill: rgb(51,51,51);
}

.cardStyle{
    width: 40%;
    color: #f9f9f9 !important;
    color: #414141 !important;
    border-radius: 10px;
    box-shadow: 6px 7px 8px -2px rgba(249,249,249,0.42);
    -webkit-box-shadow: 6px 7px 8px -2px rgba(249,249,249,0.42);
    -moz-box-shadow: 6px 7px 8px -2px rgba(249,249,249,0.42);
    border: 1px solid rgba(249, 249, 249,0.2);
}

.infoCard{ 
    position: relative;
    min-height: 47.5% !important;
    max-height: 77.5% !important;
    margin-top: -15px;
    border-radius: 20px 20px 10px 10px;
    background-color: #f9f9f9;
    padding-bottom: 10px;
}


h1::selection{
    color: #6bdbc8 !important;
}

.cardButton{
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
}

.spinner-border{
    width: 5rem !important;
    height: 5rem !important;
}

.img-Error{
    width: 60%;
}

.error-Info{
    font-family: 'Rubik Wet Paint', cursive !important;
    width: 30%;
    color: #9bca64 !important;
}

.link{
    color: #414141;
    margin-right: 10px;
    text-decoration: none !important;
}
.link:hover{
    transform: scale(1.1);
    color: #6bdbc8 !important;
}
.active{
    color: #6bdbc8;
}

$input-focus-border-color:#6bdbc8;
$input-focus-box-shadow: 0px 0px 10px 3px rgba(107,219,200,0.75);
$form-select-focus-box-shadow: 0px 0px 10px 3px rgba(107,219,200,0.75); 

@media (min-width: 768px) {
    .cardStyle{
        width: 22%;
    }
    .spinner-border{
        width: 10rem !important;
        height: 10rem !important;
    }
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
